aiohttp==3.7.4.post0
aniso8601==9.0.1
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
click==8.0.1
fastapi==0.65.2
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
multidict==5.1.0
pydantic==1.8.2
starlette==0.14.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
yarl==1.6.3
